@font-face {
    font-family: 'SF-UI-Display-Regular';
    src:url('../font/SF-UI-Display-Regular.otf');
}

body{
    background: #fff;
}

.toolbar{
    font-family: 'SF-UI-Display-Regular', Arial, sans-serif;
}

.toolbar section,
.toolbar section:first-child,
.toolbar section:last-child:nth-last-child(1):not(.title){
    width: 19%;
}

.toolbar section.title{
    width: 62%;
    justify-content: center;
}

.toolbar button {
    font-size: .92em;
}

.toolbar button:active{
    opacity: 0.39;
}

.toolbar section i{
    display: none;
}

.toolbar section button{
    padding: 0;
}

.toolbar section button span.text{
    display: block;
    padding: 1rem 0;
}

.toolbar section i:before{
    content: "";
}