@font-face {
    font-family: 'Roboto-Medium';
    src:url('../font/Roboto-Medium.ttf');
}

.toolbar{
    display: flex;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    font-family: 'Roboto-Medium', Arial, sans-serif;
    padding: 0;
}

.toolbar button{
    position: relative;
    background: none;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 1.45em;
    line-height: 0;
    display: inline-block;
    overflow: hidden;
    outline: none;
}

.toolbar section{
    display: flex;
    overflow: hidden;
    align-items: center;
}

.toolbar section:first-child{
    width: 14%;
}

.toolbar section.title{
    width: 64%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
    padding: 1rem .5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

.toolbar section:first-child.title{
    width: 78%;
    padding: 1rem .5rem;

}

.toolbar section:last-child.title{
    width: 86%;
    display: block;
}

.toolbar section:last-child:not(.title){
    width: 22%;
    justify-content: flex-end;
    overflow: visible;
}

aside.title{
    display: flex;
    flex-direction: row;
}

.effect-wave {
    display: block;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 0px;
    height: 0px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
    animation-name: wave;
    animation-duration: 300ms;
    animation-timing-fuction: ease;
    animation-fill-mode: both;
    transform-origin: center;
}

@-webkit-keyframes wave{
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 75px;
        height: 75px;
        opacity: 0;
    }
}
@-o-keyframes wave{
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 75px;
        height: 75px;
        opacity: 0;
    }
}
@-moz-keyframes wave{
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 75px;
        height: 75px;
        opacity: 0;
    }
}
@keyframes wave{
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 75px;
        height: 75px;
        opacity: 0;
    }
}

/*
    Beta test

    @ toolbar title 20dp
    @ toolbar height 56dp

*/
/* Moto x */
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 2dppx){
    .toolbar{
        height: 55px;
    }

    .toolbar section.title{
        font-size: 20px;
    }
}

/* Iphone 6 plus*/
@media (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 2.46dppx){

    /* Not exact count */
    body{
        font-size: 20px;
    }

    .toolbar{
        height: 87px;
    }

    .toolbar section.title{
        font-size: 25px;
    }
}